[submodule "ext/prngsharp.git"]
	path = ext/prngsharp.git
	url = https://github.com/CodiePP/prngsharp.git
[submodule "ext/elykseer-crypto.git"]
	path = ext/elykseer-crypto.git
	url = https://github.com/eLyKseeR/elykseer-crypto.git
