[submodule "ext/prngsharp.git"]
	path = ext/prngsharp.git
	url = git@github.com:CodiePP/prngsharp.git
[submodule "ext/openssl-net.git"]
	path = ext/openssl-net.git
	url = git@github.com:CodiePP/openssl-net.git
